<!--
1.display question stored from view > variable? > query
2.display answer defined answer method in controller > variable? -->

<h3><%=@query%></h3>
<p><%=@answer%></p>
<br>
<p><%= link_to "Ask another question to your coach", ask_path %><p>
